* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    background-image: url('./../assets/images/blog_background.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
 }