* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.contactUs-title {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-size: 100% 60%;
    background-repeat: no-repeat;
 }