:root {
    --light-orange-button-color: rgba(227, 179, 89, 0.946);
    --transparent-black: rgba(0, 4 ,5, 0.85);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.contactUs-title {
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
}

.map-section {
    width: 100%;
}

.section-title {
    text-align: center;
    margin-top: 60px;
    font-family: Helvetica, Arial, sans-serif;
}

.section-title h4 {
    font-size: 35px;
    margin-top: 5px 0px;
    font-weight: 100;
}

.section-title hr {
    border: none;
    height: 2px;
    background:rgb(197, 138, 27);
    margin: auto;
    width: 350px;
}

.section-title h5 {
    color: rgb(197, 138, 27);
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 100;
}

.location-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    padding: 0;
    box-sizing: border-box;
}

.location-container div{
    text-align: center;
    width: 450px;
    height: 200px;
    border: 2px solid rgb(197, 138, 27);
    background-color: rgba(236, 222, 196,0.1);
}

.location-container div div {
   border: 2px dotted rgb(197, 138, 27);
   background: none;
   width: 430px;
   height: 180px;
   margin: 7px;
}

.location-container div div h5 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 15px;
    color: rgb(197, 138, 27);
}

.phone-content p {
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
}

.address-content p,address, a{
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    padding-left: 5px;
    text-decoration: none;
    font-style: normal;
    color: black;
}

.working-hours-content h6 {
    font-weight: 200;
    margin-top: 8px;
    font-size: 18px;
}
.working-hours-content p {
    font-weight: 200;
    font-size: 15px;
    color: rgb(97, 97, 97);
}

.working-hours-content h5 {
     margin-bottom: 15px;
}

.form-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.form-items div {
    width: calc(100%/3);
    height: calc(100%/2);
    text-align: center;   
}

.form-item-text input {
    width: 60%;
    height: 40px;
    position: relative;
    vertical-align: top;
}

.form-item-text div {
    width: 55%;
    margin-top: 20px;
    position: relative;
}