:root {
    --light-orange-button-color: rgba(227, 179, 89, 0.946);
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../assets/fonts/great-vibes.ttf') format('truetype'); 
} 

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header {
    width: 100%;
    height: 1000px;
    background-image: url("../assets/images/home-background.jpg");
    background-size: 100% 100%;
    opacity: 1;
} 

.splash {
    margin-top: 10rem;
    text-align: center;
}

.golden-title {
    color: rgb(197, 138, 27);
    font-family: "Great Vibes", "cursive", sans-serif;
    /* text-shadow: rgb(0, 0, 0) -2.36667px 1.13333px 1.96803px; */
    font-size: 40px;
}

.golden-title::first-letter {
    text-transform: capitalize;
}

.bold-title {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}

ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.suffix {
    position: relative;
    color: white;
    padding: 15px 15px 15px 0;
}

#schedule {
    background-color: black;
    margin: 0;
    color: white;
}

i{
    text-decoration: none;
    color: black;
}

.page-links {
    text-shadow: black -2.36667px 1.13333px 1.96803px;
}

.page-links a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 2%;
} 
 
.starters span {
    color: #7b7b93;
}

.button {
    background-color: black;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
}

#book-button {
    border: 2px solid orange;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
}

#view-button{
    color: white;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
    position: relative;
    margin-bottom: 30px;
}

#view-button:hover {
    color: rgb(197, 138, 27);
    bottom: 3px;
}

#blogs-button{
    color: white;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
    position: relative;
}

#blogs-button:hover {
    color: rgb(197, 138, 27);
    bottom: 3px;
}

#booking {
    margin: 0px;
    background-color: var(--light-orange-button-color);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 12px;
    font-weight: bold;
    border-style: none;
}

#header-title {
    font-family: 'Great Vibes' , sans-serif;
    color: rgb(197, 138, 27);
    background-color: black;
    font-size: 32px;
}

#header-title span {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

#price {
    color: rgb(197, 138, 27);
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    height: 100%;
}

.form input {
    height: 42px;
}

.section-title {
    margin-bottom: 3rem;
}

.section-title-about {
    display: block;
}

.splash .section-title {
    font-size: 30px;
}

#featured-dishes {
    margin-top: 100px;
    text-align: center;
}

img:hover {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform: scale(1.2);
    box-sizing: border-box;
}

.open-weekdays {
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
}

.open-weekends {
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
}

#gallery-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #7b7b93;
}

#gallery-photos  img {
    width: calc((100%/4)-1%);
    
}

.book {
    display: grid;
    justify-content: center;
    width: 100%;
}

.book span {
    
}

nav {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-links {
    float: right;
    line-height: 80px;
}

.page-links a {
    margin-left: 30px;
}

.social-links a {
    margin-left: 13px;
}