@font-face {
    font-family: 'Great Vibes';
    src: url('../assets/fonts/great-vibes.ttf') format('truetype'); 
} 

.golden-title {
    color: rgb(197, 138, 27);
    text-transform: capitalize;
    font-family: "Great Vibes", "cursive", sans-serif;
}

.bold-title {
    text-transform: uppercase;
}

ul li{
    list-style-type: none;
}

ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.input-wrapper{
    box-sizing: border-box;
}

.suffix {
    position: relative;
    color: #7b7b93;
    padding: 15px 15px 15px 0;
}

#schedule {
    background-color: black;
    margin: 0;
    color: white;
}

i{
    text-decoration: none;
    color: black;
}

.page-links a{
    text-decoration: none;
    color: black;
}

.logo img {
    width: 2%;
} 

.starters span{
    color: #7b7b93;
}

#book-button {
    background-color: black; /* Green */
    margin: 5px;
    border: 2px solid orange;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}